<footer>
      <p>&copy; 2013 <strong>Felipe Norato Lacerda</strong>. Todos os direitos reservados. Usando: <span><a href="http://rubyonrails.org/" target="_blank" title="Página oficial do Rails">Rails</a></span></p>
</footer>