<ul class="itens" id='navegacao'>
	<a href="/"><li id="home"><p>Página Inicial</p></li></a>
  <a href="/repertorios"><li id='repertorios'><p>Repertórios</p></li></a>
  <a href="/musicas"><li id='musicas'><p>Músicas</p></li></a>
  <a href="/eventos"><li id='eventos'><p>Eventos</p></li></a>
</ul>